/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}

.home-content {
    flex-grow: 1; /* Allows the content to fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    text-align: center;
}

h1, h2 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}
