.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3f9446;
  color: white;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-item {
  color: white;
  text-decoration: none;
}

.navbar-item:hover {
  text-decoration: underline;
}
